node_modules/
dist/

# Environment variables
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*
pnpm-error.log*

# Coverage
coverage/
*.lcov

# Vite cache
.vite/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Certificates and keys
*.pem
*.key